:root {
    --post-thickness: 2rem;
    --post-content-margin: 1rem;
}

.post {
    width: 100%;
    max-width: 520px;
    background-color: white;
    margin-bottom: var(--post-thickness);
    border-radius: 1.2rem;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in;
    opacity: 0;
}

@media (max-width: 48rem) {
    .post {
        max-width: none;
        border-radius: 0;
        margin-bottom: 1px;
    }
}

.post__header {
    display: flex;
    align-items: center;
    padding: var(--post-thickness) var(--post-thickness) var(--post-content-margin);
}

.post__authorGroup {
    display: flex;
    align-items: center;
    flex: 1;
}

.post__more {
    flex: 0;
    padding: 0 !important;
}

.post__more svg {
    font-size: 2.25rem;
}

.post__avatar {
    margin-right: 0.75rem;
    opacity: 0;
    transition: all 0.4s ease-in;
}

.post__imageWrapper {
    padding: var(--post-content-margin) var(--post-thickness);
}

.post__image {
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease-in;
    object-fit: contain;
    border-radius: 1rem;
}

.post__text {
    font-weight: normal;
    padding: var(--post-content-margin) var(--post-thickness) 0;
}

.post__date {
    padding: 0 var(--post-thickness) var(--post-content-margin);
    color: rgba(0, 0, 0, 0.5);
}

.post__comments {
    padding: var(--post-content-margin) var(--post-thickness);
}

.post__comments button {
    color: #1452fe;
    background-color: #f0f3fc;
    border-radius: 1rem;
    width: 100%;
    padding: 1rem 1.25rem 0.75rem;
    margin-bottom: var(--post-content-margin);
}

.post__comment {
    padding: var(--post-content-margin) 1.25rem;
    background-color: #f1f1f1;
    margin-bottom: var(--post-content-margin);
    border-radius: var(--post-content-margin);
}

.post__commentDate {
    color: rgba(0, 0, 0, 0.5);
}

.post__comment.owner {
    background-color: #f0f3fc;
}

.post__actions {
    padding: var(--post-thickness);
    border-top: 1px solid #eeeeee;
    margin-top: 0.5rem;
}

@media (max-width: 48rem) {
    .post__actions {
        border-top: none;
        padding-top: 0;
    }
}

.post__commentBox {
    display: flex;
}

.post__input {
    flex: 1;
    border: none;
    font-size: 12px;
    width: 100%;
    border-radius: 1rem;
    background-color: #f5f6f8;
    padding: 1rem 1.25rem;
    margin: 0 var(--post-content-margin) 0 0;
}

@media (max-width: 48rem) {
    .post__input {
        font-size: 16px;
    }
}

.post__button {
    flex: 0;
    border: none;
    color: #1452fe;
    cursor: pointer;
    background-color: #f0f3fc;
    border-radius: 1rem;
    padding: 1rem 1.25rem 0.75rem;
}

.post__button:disabled {
    opacity: 0.5;
    cursor: default;
}

.post__moreModalTitle {
    text-align: center;
}

.post__modalInput {
    border: none;
    font-size: 12px;
    border-radius: 1rem;
    background-color: #f5f6f8;
    padding: 1.25rem;
    min-height: 50px;
    margin: var(--post-content-margin) 0;
}

@media (max-width: 48rem) {
    .post__modalInput {
        font-size: 16px;
    }
}

.post__save {
    color: #1452fe !important;
    background-color: #f0f3fc !important;
    border-radius: 1rem !important;
    padding: 1rem 1.25rem !important;
    margin: var(--post-content-margin) 0;
}

.post__moreModalActions {
    display: flex;
    flex-direction: column;
    margin-top: var(--post-content-margin);
}

.post__delete {
    margin-top: var(--post-content-margin) !important;
    border-radius: 1rem !important;
    width: 100%;
    padding: 1rem 1.25rem !important;
    color: #dc004e !important;
    background-color: #fceef0 !important;
}

@media (prefers-color-scheme: dark) {

    .post {
        background-color: #2f2f2f;
        color: white;
    }

    .post__more {
        color: white !important;
    }

    .post__button {
        background-color: #6D6E73;
    }

    .post__actions {
        border-color: black;
    }

    .post__date {
        color: #999999;
    }

    .post__comment {
        background-color: rgba(75, 75, 75, 0.5);
    }

    .post__comment.owner {
        background-color: rgba(63,81,181, 0.5);
    }

    .post__commentDate {
        color: #999999;
    }

    .post__input {
        background-color: rgba(75, 75, 75, 0.5);
        color: white;
    }

    .post__button {
        background-color: rgba(63,81,181, 0.75);
        color: white;
    }

    .post__delete {
        color: white !important;
        background-color: #dc004e !important;
    }

    .post__comments button {
        background-color: rgba(63,81,181, 0.75);
        color: white;
    }
}