.profile {
    margin-right: 0.75rem;
    position: relative;
}

.profile__avatar {
    cursor: pointer;
}

.profile__preferences {
    display: flex;
    flex-direction: column;
}

.profile__addAvatar {
    cursor: pointer;
    margin: 0 auto 1rem;
}

.profile__preferences input {
    margin: 1rem 0 0;
    border: none;
    border-radius: 1rem;
    background-color: #f5f6f8;
    padding: 1rem 1.25rem;
}

.profile__preferences button {
    margin: 1.5rem 0 0;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
}

.profile__save {
    color: #1452fe !important;
    background-color: #f0f3fc !important;
}

.profile__delete {
    color: #dc004e !important;
    background-color: #fceef0 !important;
}

.profile__progress {
    object-fit: contain;
    z-index: 1;
    max-width: 40px;
    max-height: 40px;
    margin: auto;
    position: absolute;
    top: calc(50% - 40px);
    left: 50%;
    transform: translate(-50%,-50%) !important;
}

.makeStyles-backdrop-3 > div:first-child {
    background-color: transparent !important;
}

.jss4 > div:first-child {
    background-color: transparent !important;
}