* {
  margin: 0;
}

.app {
  background-color: #eeeeee;
  position: relative;
}

.app__header {
  background-color: rgba(240, 240, 240, 0.25);
  backdrop-filter: blur(25px) saturate(120%);
  backface-visibility: hidden;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  max-width: 76rem;
  margin: auto;
  padding: 1rem;
}

.app__logoutContainer {
  display: flex;
  align-items: center;
}

.app__headerImage {
  max-width: 150px;
  max-height: 30px;
  padding-top: 0.35rem;
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__signUp input {
  margin: 1rem 0 0;
  font-size: 12px;
  border: none;
  border-radius: 1rem;
  background-color: #f5f6f8;
  padding: 1rem 1.25rem;
}

@media (max-width: 48rem) {
  .app__signUp input {
    font-size: 16px;
  }
}

.app__signUp button {
  margin: 1.5rem 0 0;
  color: #1452fe;
  background-color: #f0f3fc;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
}

.app__signUp svg {
  margin: 0 auto 1rem;
}

.app__posts {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 48rem) {
  .app__posts {
    padding: 0;
  }
}

.app__add {
  display: grid;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.75rem 1rem;
  /*background-color: rgba(240, 240, 240, 0.25);*/
  /*backdrop-filter: blur(25px) saturate(120%);*/
  /*backface-visibility: hidden;*/
}

.app__addButton {
  box-shadow: none !important;
  margin: 0 auto !important;
}

.makeStyles-backdrop-1 > div:first-child {
  background-color: transparent !important;
}

.jss1 > div:first-child {
  background-color: transparent !important;
}


.app__footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 48rem) {
  .app__footer {
    text-align: left;
    font-size: 12px;
    padding-left: 1.5rem;
  }
}

.app__footer a {
  text-decoration: none;
  color: #3f51b5;
}

.MadeWithLove svg {
  color: #E90606;
  margin: 0 3px;
  font-size: 12px;
  animation: pound .35s infinite alternate;
  -webkit-animation: pound .35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.5);
  }
}

@keyframes pound {
  to {
    transform: scale(1.5);
  }
}

/*@media (prefers-color-scheme: dark) {*/

/*  .app {*/
/*    background-color: black;*/
/*  }*/

/*  .app__header {*/
/*    background-color: rgba(0, 0, 0, 0.25);*/
/*  }*/

/*}*/