* {
  margin: 0;
}

.app {
  background-color: #eeeeee;
  padding-bottom: 8rem;
}

.app__header {
  background-color: rgba(240, 240, 240, 0.25);
  backdrop-filter: blur(25px) saturate(120%);
  backface-visibility: hidden;
  padding: 20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__logoutContainer {
  display: flex;
  align-items: center;
}

.app__avatar {
  margin-right: 0.75rem;
}

.app__headerImage {
  max-width: 150px;
  max-height: 30px;
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__signUp svg {
  margin: 0 auto;
}

.app__posts {
  padding: 1.5rem;
  display: grid;
  justify-content: center;
}
