* {
  margin: 0;
}

.app {
  background-color: #eeeeee;
  padding-bottom: 3rem;
}

.app__header {
  background-color: rgba(240, 240, 240, 0.25);
  backdrop-filter: blur(25px) saturate(120%);
  backface-visibility: hidden;
  padding: 20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__logoutContainer {
  display: flex;
  align-items: center;
}

.app__avatar {
  margin-right: 0.75rem;
}

.app__headerImage {
  max-width: 150px;
  max-height: 30px;
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__signUp input {
  margin: 0.75rem 0 0;
  border: none;
  border-radius: 1rem;
  background-color: #f5f6f8;
  padding: 1rem 1.25rem;
}

.app__signUp button {
  margin: 1.5rem 0 0;
  color: #1452fe;
  background-color: #f0f3fc;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
}

.app__signUp svg {
  margin: 0 auto 1rem;
}

.app__posts {
  padding: 1.5rem;
  display: grid;
  justify-content: center;
}

.app__add {
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 1rem;
  background-color: rgba(240, 240, 240, 0.25);
  backdrop-filter: blur(25px) saturate(120%);
  backface-visibility: hidden;
}

.app_addButton {
  box-shadow: none !important;
  margin: 0 auto !important;
}

.makeStyles-backdrop-1 > div:first-child {
  background-color: transparent !important;
}

/*@media (prefers-color-scheme: dark) {*/

/*  .app {*/
/*    background-color: black;*/
/*  }*/

/*  .app__header {*/
/*    background-color: rgba(0, 0, 0, 0.25);*/
/*  }*/

/*}*/