.imageUpload {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0.75rem auto 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1.5rem;
    border-radius: 1.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px) saturate(120%);
    backface-visibility: hidden;;
}

.imageUpload__progress {
    margin: 0 auto;
}