.post {
    max-width: 640px;
    background-color: white;
    margin-bottom: 2.8125rem;
    /*box-shadow: 0 2px 3px 0 rgba(0,0,0,0.075);*/
    border-radius: 1.2rem;
    padding: 0.5rem;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.post__avatar {
    margin-right: 0.75rem;
}

.post__imageWrapper {
    padding: 1rem;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.post__text {
    font-weight: normal;
    padding: 1rem;
}

.post__comments {
    padding: 1rem;
}

.post__comment {
    padding: 1rem 1.25rem;
    background-color: #f1f1f1;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.post__comment.owner {
    background-color: #f0f3fc;
}

.post__commentBox {
    display: flex;
    margin-top: 0.75rem;
    padding-bottom: 1rem;
}

.post__input {
    flex: 1;
    border: none;
    border-radius: 1rem;
    background-color: #f5f6f8;
    padding: 1rem 1.25rem;
    margin: 0 0 0 1rem;
}

.post__button {
    flex: 0;
    border: none;
    color: #1452fe;
    cursor: pointer;
    background-color: #f0f3fc;
    border-radius: 1rem;
    padding: 0.75rem 1.25rem;
    margin: 0 1rem;
}

.post__button:disabled {
    opacity: 0.5;
    cursor: default;
}