.post {
    max-width: 640px;
    background-color: white;
    margin-bottom: 2.8125rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.075);
    border-radius: 1rem;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.post__avatar {
    margin-right: 0.75rem;
}

.post__imageWrapper {
    padding: 1rem;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-radius: 0.75rem;
}

.post__text {
    font-weight: normal;
    padding: 1rem;
}

.post__comments {
    padding: 1rem;
}

.post__comment {
    padding: 0.75rem;
    background-color: #f2f2f2;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.post__commentBox {
    display: flex;
    margin-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.post__input {
    flex: 1;
    border: none;
    padding: 0.75rem;
    border-top: 1px solid lightgrey;
    border-bottom-left-radius: 1rem;
}

.post__button {
    flex: 0;
    border: none;
    color: #6082a3;
    padding: 0.75rem;
    border-top: 1px solid lightgrey;
    border-bottom-right-radius: 1rem;
}